body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 700;
    color: rgb(11, 26, 74);
}

header{
    text-align: center;
    background-color: aliceblue;
    padding-top: 20px;
   
}

header h1{
    margin: 0;
}
main{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
}

h2, h2{
    margin: 0;
    padding: 0;
}
.score{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(255, 247, 0); */
    background-color: rgb(11, 26, 74);
    color: white;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    font-size: 22px;

}
.your-score{
    text-align: center;
}

.computer-score{
    text-align: center;
}

.winner{
    font-size: 25px;
    font-weight: 700;
    /* text-align: center; */
    padding: 10px;
}

.result{
    text-align: center;
    font-size: 14px;
    color: rgb(24, 24, 215);
}


button{
    border: none;
    color: white;
    background-color: rgb(24, 54, 172);
    padding: 10px 20px;
    border-radius: 20px;
    width: 110px;
    margin-right: 5px;
    font-size: 22px;
    cursor: pointer;
}


@media screen and (min-width: 1024px){
    main{
        width: 60%;
        height: 70%;
        margin: 8% auto 0px auto;
        border-radius: 20px;
        vertical-align: middle;
    }

    body{
        background-color: rgb(11, 26, 74);
    }
}



